<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Superposici&#243;n</Name><AddInID>{f95842bb-457a-491a-b9a2-2245200cb0f7}</AddInID><Description>verifica si existe superposici&#243;n</Description><Version>0.1</Version><Image>Images\success.png</Image><Author>Yoel</Author><Company>Yoel Tecnologies</Company><Date>01/13/2018</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="supertool_addin.py" namespace="supertool_addin"><ArcMap>
    <Commands>
        <Button caption="DIBUJAR POLIGONO" category="Superposici&#243;n" class="DrawPolygon" id="supertool_addin.button" image="Images\dibujar.png" message="Abre un formulario para ingresar coodenadas y verifica si el poligono generado por dichas coordenadas est&#225; superpuesto en otro poligono existente." tip="Verificar superposicion"><Help heading="" /></Button>
        <Button caption="MOSTRAR NUEVA PARCELA" category="Superposici&#243;n" class="ShowNewPolygon" id="supertool_addin.button2" image="Images\ojo2.png" message="" tip="MOSTRAR NUEVA PARCELA"><Help heading="" /></Button>
        <Button caption="REMOVER NUEVA PARCELA" category="Superposici&#243;n" class="RemovePolygon" id="supertool_addin.button3" image="Images\brocha.png" message="" tip="REMOVER NUEVA PARCELA"><Help heading="" /></Button>
        <Button caption="VERIFICAR SUPERPOSICI&#211;N" category="Superposici&#243;n" class="CheckSuperposition" id="supertool_addin.button4" image="Images\superposicion.png" message="" tip="CheckSuperposition"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="VERIFICAR SUPERPOSICI&#211;N" category="Superposici&#243;n" id="supertool_addin.toolbar" showInitially="true"><Items><Button refID="supertool_addin.button" /><Button refID="supertool_addin.button2" /><Button refID="supertool_addin.button3" /><Button refID="supertool_addin.button4" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>